<div class="container">
  <br/>  <br/>  <br/>  
</div>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo rotate-me">
      <img src="<%= asset_path('direct-logo.png') %>">
    </a>
    <h1>Fast-Pace!</h1>
    <h4> A Web Page Companion that'll really get you moving</h4>
    <p>Fast-Pace is a Chrome Extension that provides extended functionality on existing web pages. The Web App is built in Ruby, with a Postgres database. The Chrome Extension is pure JavaScript.</p>
    <a type="button" class="btn btn-lg btn-default" href="/examples"><span class="glyphicon glyphicon-download"></span> Show me some Examples </a>
    <a type="button" class="btn btn-lg btn-primary" href="/widgets"><span class="glyphicon glyphicon-flash"></span> Look at my Widgets</a>
  </div>
</div>
</div>
<span role="img" style="background-color: transparent; background-image: url(&quot;https://directsoftware.atlassian.net/secure/projectavatar?pid=10000&amp;avatarId=10512&amp;size=xxlarge&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 3px; display: flex; flex: 1 1 100%; height: 100%; width: 100%;"></span>